    <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        @Html.ActionLink("Vidly", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            
        <div class="navbar-collapse collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item">@Html.ActionLink("Customers", "Index", "Customers", new{}, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Movies", "Index", "Movies", new{}, new { @class = "nav-link" })</li>
            </ul>
                
            @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>